.app {
  align-items: center; /* Center items vertically */
}

.app-top {
  display: flex;
  align-items: left;
  justify-content: center;
  width: 100%;
  float: left;
}

.logo-container {
  margin-right: auto; /* Add some margin to the right of the image */
  width: max-content;
  align-items: center;
}

.logo {
  padding: 15%;
  width: 150px; /* Adjust the width of the image as needed */
}

.date-container {
  display: flex; /* Use flexbox for layout */
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.date {
  padding-right: 25px;
  font-size: 20px;
  color: #1B1A55;
}

.time-cont {
  display: flex; /* Use flexbox for layout */
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.time {
  padding: 15px;
  font-size: 50px;
  color: #007F73;
}

.camera {
  width: 320px; /* Atur lebar video */
  height: 240px; /* Atur tinggi video */
}

.body-cont {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  width: 50%;
  float: left;
}

.foto {
  padding: 15%;
  width: 150px; /* Adjust the width of the image as needed */
}

.id{
  height: auto;
  float: left;
  align-self: flex-start;
}